name: iOS Build & TestFlight Deploy

on:
  push:
    branches:
      - master
      - dev

jobs:
  ios-release:
    runs-on: macos-latest
    strategy:
      matrix:
        node-version: [20.x]

    env:
      # Decide env/stage based on branch
      STAGE: ${{ github.ref == 'refs/heads/master' && 'prod' || 'dev' }}

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
          ssh-key: ${{ secrets.GIT_SSH_KEY }}

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install EAS CLI
        run: npm install -g eas-cli

      - run: npm install

      - name: Load Config JS
        env:
          FIREBASE_CONFIG_BASE64: ${{ secrets.TRENDLY_FIREBASE_CONFIG }}
          ENV_LOCAL_BASE64: ${{ secrets.ENV_LOCAL_FILE }}
          IOS_FIREBASE_CONFIG_BASE64: ${{ secrets.IOS_FIREBASE_CONFIG }}
        run: |
          echo $FIREBASE_CONFIG_BASE64 | base64 -d > firebase-config.js
          echo $ENV_LOCAL_BASE64 | base64 -d > .env.local
          echo $IOS_FIREBASE_CONFIG_BASE64 | base64 -d > GoogleService-Info.plist

      - name: EAS Build iOS (local)
        env:
          EXPO_TOKEN: ${{ secrets.EXPO_TOKEN }}
          EXPO_PUBLIC_APP_STAGE: ${{ env.STAGE }}
        run: npm run build-ios

      - name: Submit to App Store
        env:
          EXPO_TOKEN: ${{ secrets.EXPO_TOKEN }}
        run: npm run submit-ios